.modal-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.2);
  backdrop-filter: blur(1px);
  z-index: 2;

  &.modal-show{
    display: flex;
  }

  @media (max-width: $m768) {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    transform: inherit
  }
}

.modal{
  max-width: 790px;
  background: #fff;
  border-radius: 20px;
  position: relative;

  .wrapper {
    padding: 64px 0 38px 0;
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
    
    @media (max-width: $m768) {
      margin-top: 30px;
    }
  }
  .description {
    font-size: 15px;
    line-height: 1.53;
    color: var(--black2);
    margin-bottom: 20px;
    @media (max-width: $m768) {
      display: none;
    }
  }

  .close {
    position: absolute;
    left: 38px;
    top: 38px;
    background: url('../images/close-black.svg') center no-repeat;
    height: 22px;
    width: 22px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

    input {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      height: 42px;
      border-radius: 21px;
      border: 1px solid #9cadbe;
      padding: 12px 20px;
      color: #9cadbe;
      width: 100%;
      margin: 10px 0;
      outline: none;
    }

    .checkbox-group {
      display: flex;
      align-items: center;
    }

    input[type='checkbox'] {
      width: inherit;
      height: 25px;
      margin-right: 10px;
      margin-left: 5px;
    }
    
    .input-group {
      display: flex;
      justify-content: space-between;
      
      input {
        width: calc(50% - 10px);
      }
    }
    
    select {
      position: relative;
      font-size: 16px;
      height: 42px;
      width: 100%;
      outline: none;
      appearance: none;
      background: none;
      margin: 10px 0;
      border: 1px solid #9cadbe;
      border-radius: 21px;
      padding: 12px 20px;
      color: #9cadbe;
    }

    .form-select {
      position: relative;
      display: flex;
      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 6px;
        right: 0;
        height: 50px;
        width: 50px;
        background: url('/images/select-pick.svg') center no-repeat;

      }

    }

    .button {
      background-image: linear-gradient(296deg, #94f0fe, #18b3f5);
      border: none;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      min-width: 126px;
      height: 43px;
      border-radius: 5px;
      color: #000;
      padding: 13px  20px;
      margin: 20px auto;
    }

    .confirmation {
      font-size: 13px;
      color: var(--gray);
      font-weight: 200;
    }

  }

  @media (min-width: $m1200) and (max-height: 880px) {
    max-width: 1100px;

    .wrapper{
      padding-top: 48px;
      padding-bottom: 32px;
    }
    .close {
      left: 24px;
      top: 24px;
    }
    .title{
      margin-bottom: 16px;
    }
    .description{
      margin-bottom: 12px;
    }
    .modal-form{
      margin-top: 24px;

      input{
        margin: 8px 0;
      }
      .button{
        margin-top: 16px;
      }
    }
  }


  @media (max-width: $m1200) {
    .wrapper{
      padding-top: 48px;
      padding-bottom: 32px;
    }
    .close {
      left: 24px;
      top: 24px;
    }
    .title{
      margin-bottom: 16px;
    }
    .description{
      margin-bottom: 12px;
    }
    .modal-form{
      margin-top: 24px;

      input{
        margin: 8px 0;
      }
      .button{
        margin-top: 16px;
      }
    }
  }

  @media (max-width: $m768) {
    height: 100vh;
    border-radius: 0;

    .wrapper{
      padding-top: 32px;
      padding-bottom: 24px;
    }
    .close {
      left: 12px;
      top: 12px;
      width: 16px;
      height: 16px;
    }
    .title{
      margin-bottom: 10px;
      margin-top: 16px;
      font-size: 24px;
    }
    .description{
      margin-bottom: 0;
    }
    .modal-form{
      margin-top: 12px;

      .form-select::after{
        width: 40px;
        height: 32px;
        top: 7px;
      }

      input,select{
        margin: 6px 0;
        padding: 6px 10px;
        height: 32px;
      }
      .button{
        margin-top: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
      }
    }
  }

  @media (max-height: 580px) {
    .wrapper{
      padding-top: 12px;
    }
    .title{
      font-size: 22px;
      margin-top: 0;
    }
    .close {
      top: 18px;
    }
  }

  @media (max-width: $m480) {
    .wrapper{
      padding-top: 0;
      padding-bottom: 0;
    }
    &-wrapper{
      height: 110vh;
      align-items: flex-start;
    }
    .close {
      left: 12px;
      top: 12px;
      width: 16px;
      height: 16px;
    }
    .title{
      margin-bottom: 0;
      margin-top: 12px;
      font-size: 16px;
    }
    .modal-form{
      margin-top: 12px;

      input{
        font-size: 14px;
      }
      .form-select{
        font-size: 12px;
      }

      .form-select::after{
        width: 40px;
        height: 32px;
        top: 4px;
      }

      input,select{
        margin: 6px 0;
        padding: 6px 10px;
        height: 32px;
      }
      .button{
        margin-top: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
      }
    }
  }
}