
.proposals{
    position: relative;
    max-width: 1280px;
   

    &-zone{
        background-color: var(--lightBlue0);
        

        > div{
            padding-top: 0;
            height: 60vh;
            min-height: 360px;
            max-height: 660px;
            display: flex;
            align-items: center;
            @media (min-width: $m1600) {
                height: 65vh;
            }
        }
        &_one{
            .proposals-item{
                position: relative;
                z-index: 1;
            }
        }
        &_three{
            background-color: var(--orange);
            

        }
        &_four{
        

        @supports (-ms-ime-align: auto) {
            background: red;
            background-image:   linear-gradient(0deg, var(--black2) 80%, var(--gray));
            background-size:    cover;
            background-position: top left;
        }
        }
        &_two{
            background-color: var(--orange);
            position: relative;

            .proposals{
                max-width: 1280px;
            }

            &::after{
                content: "";
                background-image: url(../images/triangle.svg);
                background-size: 70vw auto;
                background-position: center right;
                background-repeat: no-repeat;
                display: block;
                width: 70vw;
                height: 178vh;

                position: absolute;
                right: 0;

                @media (min-width: $m1600) {
                    height: 200vh;
                    background-size: contain;
                }
                @media (max-width: $m1440) {
                    background-size: 80vw auto;
                    width: 80vw;
                }
            }
            .proposals-item{
                position: relative;
                z-index: 1;
            }
        }
        @media (min-width: $m1600) {
            &_three.proposals-zone_three{
                height: 80vh;
            }
        }


    }

    &-title{
        color: var(--gray);
        margin-bottom: 102px;
        padding-top: 96px;
    }
    &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_group{
            max-width: 540px;

            &-large{
                max-width: 640px;
            }
        }
        &_title{
            color: var(--gray);
            margin-bottom: 8px;
            font-size: 30px;
            letter-spacing: -1;
            line-height: normal;
            font-weight: 600;
        }
        &_img{
            width: 100%;
            max-width: 500px;

            &-smaller{
                max-width: 580px;
                padding-right:20px;
                
            }
            
        }
    }

    @media (max-width: $m1200) {
        &-zone{
            > div{
                height: 65vh;
            }

            &_two{
                &::after{
                    display: none;
                }
            }

            &_three{
                background-color:white;
            }
        }
        &-item{
            &_group{
                max-width: 500px;
            }
            &_img{
                max-width: 400px;
                padding-right: 10px;
          
            }
        }
    }

    @media (max-width: $m992) {
        &-title{
            margin-bottom: 40px;
        }
        &-zone{
            > div{
                height: auto;
                max-height: none;
                padding-top: 48px;
                padding-bottom: 48px;
            }
        }
        &-item{
            flex-direction: column;

            img{
                order: 0;
                margin-bottom: 32px;
            }
            &_group{
                order: 1;
                margin: auto;
            }
        }
    }

    @media (max-width: $m768) {
        &-title{
            margin-left: 5%;
        }
        &-item{
            align-items: flex-start;

            &_title{
                font-size: 20px;
                margin-bottom: 12px;
            }
            &_group{
                padding:15px;
            }
            
        }
        &-zone{
            > div{
                padding-bottom: 60px;
                padding-top: 0px;
                .wrapper{
                    width:100%;
                    img{
                        width:100%;
                        max-width:100%;
                        padding-right: 0px;

                    }
                }
            }
            &_one{
                img{
                    width:70%! important;
                    margin:auto;
                }
            }
        }

    }
}

.proposals-zone-bottom{
    width:100%;
    position:relative;
    margin-top:-12%;
    z-index:-1;

    img{
        width:100%;
    }

}