
.subscribe{
	background-image: linear-gradient(280deg, var(--black2) 10%, var(--gray));
	padding-bottom: 76px;

	&-title{
		color: var(--white);
		letter-spacing: normal;
		margin-bottom: 32px;
	}
	&-form{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		display: block;

		&_input{
			padding: 24px 21px;
			height: 60px;
			font-size: 16px;
			color: var(--black);
			min-width: 248px;
			margin-right: 6px;
			border-radius: 5px 0 0 5px;
			border: none;
		}
		&_button{
			background: none;
			border: none;

			background-color: var(--orange);
			padding: 21px;
			height: 60px;

			border-radius: 0 5px 5px 0;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	@media (max-width: $m992) {
		&-form{
			&_button{
				position: relative;
				top: -1px;
			}
		}
	}

	@media (max-width: $m768) {
		&-form{
			&_input, &_button{
				display: block;
				width: 100%;
				margin: 10px 0;
				border-radius: 5px;
			}
			&_button{
				font-size: 16px;
				-webkit-appearance: none;
			}
		}
	}
}