.team{
    max-width: 1575px;
    background-color: #292929;
    margin: auto;
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 200px;
    &-zone{
        position: relative;
        top: 100px;
    }

    &:before{
        width: 100%;
        max-width: 1575px;
        height: 100px;
        content: " ";
        position: absolute;
        background-image: url("../images/top-trangle-black.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 100px, cover;
        margin: auto;
        margin-top: -100px;
        
    }
    &:after{
        width: 100%;
        max-width: 1575px;
        height: 100px;
        content: " ";
        position: absolute;
        background-image: url("../images/bottom-trangle-black.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 100px, cover;
        margin: auto;
    }

    &-title{
        font-family: "Montserrat";
        font-size: 55px;
        font-weight: 700;
        line-height: 55px;
        text-transform: uppercase;
        top: 20px;
        text-align: center;
    }

    &-subtitle{
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        width: 60%;
        margin:auto;
        margin-top: 41px;
    }
    &-paragraph{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 60%;
        margin:auto;
        margin-top: 37px;
    }

    &-info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 73px;

        .team-item{
            width: 181px;
            height: 181px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 5px  #ffffff;
            border-radius: 50%;
            margin-left: 5px;
            margin-right: 5px;
            &-info{
                width: 85%;
                height: 85%;
                background-color: #fff;
                border-radius: 50%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .info-value{
                    color: #292929;
                    font-family: "DIN";
                    font-size: 55px;
                    font-weight: 700;
                    line-height: 55px;
                    text-transform: uppercase;
                }
                .info-text{
                    color: #292929;
                    font-family: "DIN";
                    font-size: 17px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 20px;
                    text-align: center;
                    width: 90%;
                }

            }
        }
    }

    &-core{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: auto;
        margin-top: 80px;

        &-item{        
            flex-basis: 20%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 350px;
            margin-left: 1%;
            margin-right: 1%;
            .item-photo{
                width: 212px;
                height: 212px;
                border-radius: 50%;
                border: solid 5px #7b92c0;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 88%;
                    width: 88%;
                    object-fit: cover;
                    border-radius: 50%;
                    filter: grayscale(1);
                }
            }

            .item-name{
                padding-top: 10px;
                font-size: 16px;
                font-weight: 700;
                line-height: 20.24px;
            }
            .item-position{
                font-size: 16px;
                font-weight: 300;
                line-height: 20.24px;
                width: 70%;
                text-align: center;
            }
            
        }

        .contributors{
            flex-basis: 30%;
        }

        
    }

    &-advisors-title{
        font-size: 55px;
        font-weight: 700;
        line-height: 55px;
        text-transform: uppercase;
        text-align: center;
    }

}