
.token{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
   

    &-title{
        margin-bottom: 48px;
    }

    &-content{
        text-align: justify; /* For Edge */
        -moz-text-align-last: center; /* For Firefox prior 58.0 */
        text-align-last: center;
        margin-bottom:55px;
    }
    
    &-item{
        background-image: url(../images/token_higher.png);
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 40px;
        margin-bottom: 70px;

        &_one{
            color: var(--orange);
            margin-bottom: 40px;
            font-weight: 600;
            line-height: 1;
        }
        &_two{
            color: var(--black);
            max-width: 294px;
            margin-left: auto;
            margin-right: auto;
        }
        &:nth-child(1){
            background-image: url(../images/token_small.png);
            margin-top: 70px;
            .token-item_one{
                line-height: 1;
                margin-bottom: 58px;
                &-1{
                    font-size: 40px;
                }
                &-2{
                    font-size: 40px;
                }
            }
        }

         &:nth-child(3){
            background-image: url(../images/token_small.png);
            margin-top: 70px;
            .token-item_one{
                margin-bottom: 80px;
                line-height: 0.7;
                &-1{
                    font-size: 70px;
                    font-weight:700;
                }
                &-2{
                    font-size: 40px;
                }
            }
        }

        &:nth-child(2){
        background-image: url(../images/token_higher.png);
            height: 610px;

            .token-item_one{
                font-size: 40px;
                letter-spacing: -2.2px;
            }
        }
    }

    @media (max-width: $m992) {
        grid-template-columns: 1fr;

        &-item{
            margin-bottom: 0;
            padding-bottom: 95px;
            padding-top:65px;
            background-image: url(../images/token-higher.png);
            
            .token-item_one{
                margin-bottom: 78px;
            }
            .token-item_two{
                margin-bottom: 40px;
                padding-left: 8px;
                padding-right: 8px;
            }

            &:nth-child(2){
                height: auto;
                transform: translateY(-135px);
                padding-top: 72px;
                margin-top: -139px;
            }
            &:nth-child(3){
                margin-top: -87px;
                transform: translateY(-227px);
                padding-bottom: 260px;
            }

            &:nth-child(1), &:nth-child(3){
                .token-item_one{
                    line-height: normal;
                    &-1{
                        font-size: 35px;
                    }
                    &-2{
                        font-size: 35px;
                    }
                }
            }
            &:nth-child(3){
                .token-item_one{
                    line-height: normal;
                    &-1{
                        font-size: 60px;
                    }
                    &-2{
                        font-size: 40px;
                    }
                }
            }
            &:nth-child(2){
                .token-item_one{
                    font-size:35px;
                    letter-spacing: -1.7px;
                }
            }
        }
    }

    @media (max-width: $m768) {
        &-title{
            text-align: center;
        }
    }
}