
// Colors
:root{
	--black: #0c0d0f;
	--black2: #242526;
	--black3: #292929;
	--gray: #4a4a4a;
	--grayLight: #dfdfdf;
	--white: #fff;
	--orange: #f3904b;
	--orangeDark: #f35422;
	--lightBlue0: #e9fdfc;
	--lightBlue1: #88e7fb;
	--lightBlue2: #4fcaf6;
	--blue: #4e7ae9;
}

// Breakpoints
$m1920: 1920px;
$m1600: 1600px;
$m1440: 1300px;
$m1200: 1200px;
$m992:  992px;
$m768:  767px;
$m480:  480px;