// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  color: var(--black);
  padding: 0.5em 0;
}


polyline{
  opacity: .3;
  stroke: #878787;
  stroke-width: 3px;
  fill: none;
}

.labelName text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  fill: #878787;
}

.labelNameToken text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  fill: #878787;
}

.labelPercent{
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  font-weight: 600;
  fill: #878787;;
}

.centerTitle1, .centerTitle2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #ffffff;
}


.first-Donuts-tooltip-label{
  font-size:20px;font-weight:600;
}
.first-Donuts-tooltip-percentage{
  font-size:18px;font-weight:400;
}


/*------------------------------------*\
	General styles
\*------------------------------------*/
@import 'variables';

html{
  scroll-behavior: smooth;
}

body{
  color: var(--gray);
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(#35a9ee, #d9658c);
}

/* Visually hidden class */
.cloak {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-scroll {
	height: 100%;
	overflow: hidden;
}

h2, h3, h4{
  text-align: center;

  @media (max-width: $m768) {
    text-align: left;
  }
}

h2{
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;

  @media (max-width: $m768) {
    font-size: 28px;
  }
}

h3{
  font-size: 30px;
  font-weight: 800;

  @media (max-width: $m768) {
    font-size: 20px;
  }
}

p, .item-text{
  font-size: 18px;
  line-height: 1.67;
}

a{
  text-decoration: none;
}

strong{
  font-weight: 600;
}

.cta{
  border-radius: 5px;
  background-color: #bce7f8;
  background-image: linear-gradient(290deg, #94f0fe, #18b3f5);

  &:hover{
    background-image: linear-gradient(290deg, rgba(#94f0fe, 0), rgba(#18b3f5, 0));
  }
}

@media (max-width: $m768) {
  img{
    // width: 100%;
  }
}





/*------------------------------------*\
	Wrappers
\*------------------------------------*/
.wrapper{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.zone{
  padding-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-header{
    padding-top: 0;
    position: relative;
    z-index: 2;
  }
  &-key{
    padding-top: 0;
    position: relative;
    top: 10vh;
  }

  @media (max-width: $m1200) {
    &-key{
      top: -5vh;
    }
  }

  @media (max-width: $m768) {
    padding-top: 40px;

    &-header{
      padding-top: 0;
    }
  }
}




/*------------------------------------*\
	Modules
\*------------------------------------*/
@import 'swiper';
@import '../_modules/header/header';
@import '../_modules/hero/hero';
@import '../_modules/nav/nav';
@import '../_modules/partner/partner';
@import '../_modules/sandbox/sandbox';
@import '../_modules/innovation/innovation';
@import '../_modules/roadmap/roadmap';



@import 'sandtoken';
@import 'pricegrowth';
@import 'tokeneco';
@import 'team';
@import 'editor';

@import '../_modules/footer/footer';




// Box sizing partial styles:
// Apply a natural box layout model to all elements
$color_1: #FFF;
$color_2: #555;
$color_3: #1ABC9C;
$color_4: #222;
$color_5: #444;
$color_6: white;
$font_family_1: 'Lato', sans-serif;
$font_family_2: 'Raleway', sans-serif;
$background_color_1: #FFF;

/* ----------------------------------------------------------------
  Typography
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
  Basic Layout Styles
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
  Helper Classes
-----------------------------------------------------------------*/
/* Icon Size - Extra Large
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
  Counter
-----------------------------------------------------------------*/

.heros-middle{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url("../images/middle-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  margin-top:400px;
  &-img{
    margin-top:-500px;
  }

  @media (max-width: 1500px) {
       
      &-img{
        img{
          width:40vw;
        }
      }
        
  }
}


.sandtoken-bg{
  position: absolute;
  margin-top: -25px;
  z-index: -1;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}