// header styles

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	top: 0;
	height: 144px;
	position: fixed;
	z-index: 1;
	width: 100%;

	padding-left: 56px;
	padding-right: 0px;
	padding-top: 24px;
	padding-bottom: 20px;

	transition: background-color 0.4s, padding 0.4s, height 0.4s;

	&-img{
		max-width: 255px;
		transition: transform 0.4s;
	}
	.nav{
		align-self: flex-start;
	}
	@media (max-width: $m1440) {
		height: 120px;
		padding-top: 8px;
		padding-bottom: 8px;

		&-img{
			max-width: 170px;
		}
	}
	@media (max-width: $m1200) {
		height: 80px;

		&-img{
			max-width: 150px;
		}
	}
	@media (max-width: $m768) {
		max-width: 100vw;
		padding-left: 24px;
	}
}

.fixed{
	background-color: var(--black);
	padding-top: 16px;
	padding-bottom: 12px;
	height: 80px;

	.header-img{
		transform: scale(0.4);
		@media (max-width: $m1440) {
			transform: scale(0.8);
		}
		@media (max-width: $m1200) {
			transform: scale(0.9);
		}
	}
	.nav{
		align-self: center;
	}
}