// nav styles

.nav{
	
	&-button{
		position: absolute;
		z-index: 1;
		top: 14px;
		right: 56px;
		background: none;
		border: none;
		cursor: pointer;
		display: none;

	}
	
	padding-left:20px;
	
	&-list{
		
		list-style: none;
		display: flex;
		justify-content: flex-start;
		text-align: center;
		height: 100%;
		

		&_item{
			
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			cursor: pointer;
			flex-direction: column;
			padding-left:15px;
			padding-right:15px;

				a{
					line-height: 53px;
				}
			
		}
		&_item:hover{
			background-color: #424242
		}

		&_inventors:hover{
			
			.nav-list-sub{
				display: block;
				background-color: var(--black3);
				&_item{
					padding-left:20px;
					padding-right:20px;
					text-align: start;
				}
				margin-left:-15px;
			}
		}

		&_editor:hover{
			
			.nav-list-sub{
				display: block;
				background-color: var(--black3);
				&_item{
					padding-left:20px;
					padding-right:20px;
					text-align: start;
				}
				margin-left:-15px;
			}
		}


		&_link{
			line-height: 60px;
			color: var(--white);
			display: block;
			color: #ffffff;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			
		}

		&-sub{
			list-style: none;
			color: white;
			position: absolute;
			display: none;

			&_item{
				font-family: 'Montserrat';
				font-size: 16px;
				font-weight: 600;
				color: white;

				a{
					color: white;

				}
			}
			&_item:hover{
				background-color: #424242;
			}
		}



		@media (max-width: $m1440) {
			&_link{
				padding-left: 20px;
				padding-right: 20px;
			}
			&_item:last-child{
				display: none;
			}
			&_social{
				padding-left: 4px;
				padding-right: 4px;
				
				&-first{
					padding-left: 16px;
				}
				&-last{
					padding-right: 0px;
				}
			}
			&-cta{
				display: none;
			}
		}
	}
	

	@media (max-width: $m1200) {
		width: 100%;

		&-button{
			display: block;
		}
		&-button img {
			height: 35px;
			width: 35px;
		}
		&-list{
			display: none;

			position: absolute;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			background-image: linear-gradient(300deg, var(--black2), var(--gray));
			width: 100%;
			height: 100vh;

			right: 0;
			top: 0;
			padding-top: 100px;
			padding-bottom: 80px;

			&_link{
				font-size: 23px;
			}

			&_item{
				&-social{
					display: none;
				}
				&-cta{
					display: none;
				}
				&:last-child{
					display: flex;
				}
			}

			&_social{
				padding-left: 12px;
				padding-right: 12px;
				padding-top: 8px;
				padding-bottom: 8px;
				
				&-first{
					padding-left: 12px;
				}
			}
		}
		&-social{
			display: block;
			padding-top: 12px;

			&_list{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				max-width: 400px;
			}
			&_item{
				padding-left: 20px;
				padding-right: 20px;
				flex-grow: unset;

				img{
					max-width: 49px;
				}
			}
		}
	}
	@media (max-width: $m768) {
		&-button{
			right: 24px;
		}
		&-list{
			max-width: none;
			border-radius: 0 0 5px 5px;
			max-height: 800px;
		}
	}
	@media (max-width: 520px) and (max-height: 580px) {
		&-button{
			top: 16px;
			right: 16px;
		}
		&-list{
			padding-top: 48px;
			padding-bottom: 32px;

			&_link{
				font-size: 20px;
			}
		}
		&-social_item{
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}


// Mobile menu
.nav-list_show{
	display: flex;
}
.nav-button_hide{
	display: none;
}