.innovation{
    max-width: 1575px;
    background-color: #ffffff;
    margin: auto;
    color: #292929;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &-top-bg{
        width: 100%;
        max-width: 1575px;
        height: 100px;
        content: " ";
        position: absolute;
        background-image: url("../images/top-trangle-white.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 100px, cover;
        margin: auto;
        top: -100px;
        z-index: -2;
    }

    &-bottom-bg{
        width: 100%;
        max-width: 1575px;
        height: 375px;
        content: " ";
        position: absolute;
        background-image: url("../images/bottom-white-big.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 375px, cover;
        margin: auto;
        bottom: -375px;
        z-index: -2;
    }
    
    &-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: -200px;
        
    }
    
    

    &-zone{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-510px;
        position: relative;
    }
    &-experience{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1550px;
        &-item{
            border-radius: 5px;
            
            img{
                border-radius: 7px;
                padding-left:3px;
                padding-right:3px;
            }
        }

    }
    &-section{
        width: 75%;
        margin-top:50px;
       

        &-title{
            color: #8898ff;
            font-family: "Montserrat";
            font-size: 55px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 41px;
            
        }

        &-items{
            display: flex;
            justify-content: center;
            align-items: flex-start; 
            margin-top: 64px;
            flex-wrap: wrap;

        }

        &-item{
            flex-basis: 25%;
            padding-left:1%;
            padding-right:1%;
            display: flex;
            flex-direction: column;

            .item-img{
                width: 271px;
                height: 271px;
                background-image: url("../images/circle-innovation.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .item-title{
                color: #0093ff;
                font-family: "Montserrat";
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 23px;
                margin-top:22px;
                text-align: center;
                height: 60px;

            }
            .item-text{
                color: #323232;
                font-family: "Montserrat";
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
            }
        }
        
    }

    &-game{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        &-title{
            color: #323232;
            font-family: "Montserrat";
            font-size: 24px;
            font-weight: 400;
        }

        &-btn{
            padding: 25px;
            background-color: #292929;
            color: #ffffff;
            font-family: "Montserrat";
            font-size: 35px;
            font-weight: 700;
            line-height: 23px;
            text-transform: uppercase;
            border:none;
            outline: none;
            border-radius: 10px;
            width: 368px;

            margin-top: 25px;
            
        }

    }

}