
.key{
  &-title{
    color: var(--gray);
    margin-bottom: 100px;

    @media (max-width: $m992) {
      margin-bottom: 80px;
    }
    @media (max-width: $m768) {
      max-width: 260px;
      margin-left: 5%;
      margin-bottom: 40px;
    }
  }
}