
.team{
	position: relative;
	text-align: center;
    background-image:    linear-gradient(0deg, var(--black2) 80%, var(--gray));
    background-size:     cover;
    background-position: top left;
	background-repeat:   no-repeat;

	box-shadow: 0 -20px 0 0 var(--gray);

	padding-bottom: 48px;

	&-title{
		margin-bottom: 20px;
	}
	&-subtitle{
		margin-bottom: 20px;
		display: inline-block;
	}
	&-text{
		max-width: 712px;
		margin-bottom: 64px;
		margin-left: auto;
		margin-right: auto;
	}

	&-section{
		&_title{
			text-transform: uppercase;
			font-weight: 400;
			background-color: var(--black2);
			position: relative;
			display: inline-block;

			margin-bottom: 76px;

			&::before, &::after{
				content: "";
				position: absolute;
				width: 140px;
				height: 1px;
				display: block;
				background-color: var(--white);
				top: 50%;
				left: -152px;
			}
			&::after{
				right: -152px;
				left: unset;
			}
		}
	}
	.clouds {
		&-top-left {
			position: absolute;
			left: -20px;
			top: 150px;
			height: 215px;
			width: 350px;
			background: url('../images/cloud_top_left.png') no-repeat;

			@media (max-width: $m1600) {
				left: -40px;
			}
		}
		&-bottom-left {
			position: absolute;
			left: -50px;
			top: 35%;
			height: 379px;
			width:475px;
			background: url('../images/cloud_bottom_left.png') no-repeat;

			@media (max-width: $m1600) {
				left: -120px;
			}
			@media (max-width: $m1440) {
				left: -160px;
			}
		}
		&-top-right {
			position: absolute;
			right: 0;
			top: 15%;
			height: 296px;
			width: 236px;
			background: url('../images/cloud_top_right.png') right no-repeat;

			@media (max-width: $m1600) {
				background-size: 80px;
			}
		}
		&-bottom-right {
			position: absolute;
			right: 0;
			bottom: 30%;
			height: 296px;
			width: 236px;
			background: url('../images/cloud_bottom_right.png') right no-repeat;

			@media (max-width: $m1600) {
				background-size: 80px;
			}
		}

		@media (max-width: $m1200) {
			display: none;
		}
	}

	&-main{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&_item{
			flex-grow: 1;
			flex-basis: 33%;
			min-width: 320px;
			margin-bottom: 112px;
		}
	}

	&-secondary{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&_item{
			flex-basis: 25%;
			min-width: 240px;
			margin-bottom: 112px;
		}
	}

	&-mobile{
		display: none;
	}

	@media (max-width: $m768) {
		box-shadow: 0 -68px 0 0 var(--gray);
		text-align: left;

		&-title{
			padding-top: 48px;
			padding-bottom: 40px;
			text-transform: uppercase;
		}
		&-subtitle{
			font-size: 20px;
			margin-bottom: 12px;
		}
		&-text{
			font-size: 16px;
			margin-bottom: 60px;
		}

		&-main, &-secondary, &-desktop{
			display: none;
		}

		&-mobile{
			display: flex;
		}

		&-section{
			&_title{
				font-size: 30px;
				text-align: center;
				display: block;
				max-width: 280px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;

				&::before, &::after{
					display: none;
				}
			}
		}
	}
}