.partners{
    padding-top: 70px;
    &-subtitle{
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }

    &-logos{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 70px;

        &-item{
            display: flex;
            flex-direction: column;
            flex-basis: 33.333%;
            align-items: center;
            min-width: 300px;
            margin-bottom:50px;

            @media (max-width: 767px){
                img {
                    width:auto;
                }
            }
            
        }

    }

    @media (max-width: 767px){
        &-subtitle{
            text-align: left;
            font-size: 20px;
            font-weight: 600;
        }
    }


}